<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="pt-br" />
	
	<title>Bússola do Enem, o edital a seu favor</title>
	<meta name="description" content="Uma simples ferramenta de estudos que pode" />

	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />

	<link rel="stylesheet" type="text/css" href="assets/libs/bootstrap/styles/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="assets/styles/main.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/reference.css">
	<link rel="stylesheet" type="text/css" href="assets/styles/complete.css">
	
	<script src="components/platform/platform.js"></script>
	<link rel="import" href="components/paper-checkbox/paper-checkbox.html">

	<script type="text/javascript" src="assets/libs/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="assets/libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="assets/libs/bootstrap/scripts/bootstrap.min.js"></script>

	<script type="text/javascript" src="assets/scripts/app.js"></script>

	<script type="text/javascript" src="assets/scripts/mainController not min.js"></script>

</head>
<body>


<div data-ng-app="screenplay">
	<div data-ng-controller="mainController">

	<div id="loading">
		{{percentLoaded}}
	</div>
	<div id="loading-progress"></div>
	<div id="top" data-ng-hide="opened">
		<ul>
			<li><a href="http://enem.inep.gov.br/" target="_blank">enem.inep.gov.br</a></li>
			<li><a href="http://download.inep.gov.br/educacao_basica/enem/edital/2014/edital_enem_2014.pdf" target="_blank">Edital do Enem</a></li>
			<li><a href="" data-toggle="modal" data-target="#tutorial">Como utilizar este site</a></li>
			<li><a href="" onclick="if(confirm('deseja limpar suas alterações locais?')){localStorage.removeItem('screenplay');saveInLocalStorage=false;}">Limpar alterações</a></li>
		</ul>
	</div>

		<div class="modal fade bs-example-modal-lg" id="tutorial" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<!-- Header: add and close -->
					<div class="modal-header" style="text-align:right">
						<button class="btn btn-primary" data-dismiss="modal">&times;</button>
					</div>

					<!-- Real content -->
					<div class="modal-body">
						<p>Clique sobre as barras de cada matéria para abrir e fechar (ao abrir, a barra vai para o topo).</p>

						<br/>
						
						<p>Clique sobre os tópicos para abrir e fechar.</p>
						<p>Clique sobre o texto do tópico para torna-lo editável.</p>

						<br/>

						<p>O botão de + adiciona o novo tópico.</p>
						<p>O botão de - deleta aquele tópico.</p>

						<br />

						<p>O checkbox na direita de cada tópico indica se aquele tópico foi estudado ou não.</p>
						<p>Ao marcar um tópico, é indicado uma barra de progresso no tópico pai.</p>
						<p>Ao marcar um tópico, todos os filhos automaticamente são marcados.</p>

						<br />

						<p>Toda alteração feita ficará salva no seu computador, desta forma você pode adicionar novos tópicos, marcar como estudados, e sempre que voltar ao site toda alteração será mantida. Para limpar as alterações clique no link no topo "limpar alterações"</p>
						<p>(Quando houver uma alteração de conteúdo do servidor, não será possível manter suas alterações, atualmente várias alterações serão feitas pois o conteúdo não está completo, mas em breve estará)</p>

						<br />

						<p>Aproveite e compartilhe, não há nenhum direito reservado. E qualquer sugestão, seja de usabilidade ou de conteúdo, mande um email para daymannovaes@gmail.com</p>

						<br />
					</div> <!-- End modal body -->

				</div> <!-- End modal content -->
			</div>
		</div> <!-- End modal -->
		<div id="wrapper">
			<div id="header">
				<div id="background">
					<img src="bussola.png"/>
				</div>	
					<div class="container">
						<div class="page-header">		
							<h1> {{screenplay.name}} <small style="color:white"> {{screenplay.description}} </small> 

							</h1>
						</div>
						<h2 style="display:inline">A ideia é simples,</h2> <h3>são apenas <strong>tópicos</strong>, onde a cada vez que você marcar <strong>"estudei"</strong>, uma barra de progresso indicará o quanto falta para concluir aquela etapa.</h3>
						<p></p>
						<p>Em poucos dias de estudo é fácil ver que a barra de progresso está quase completa. Foi tudo uma questão de organização, separando o edital em tópicos, conseguimos guiar nossos estudos, de forma que, em quanto mais tópicos destrincharmos, melhor definimos o que deve ser estudado e mais focado ficamos. Aproveite.<p>

						<div class="reference-container">
							<div data-ng-repeat="reference in screenplay.references">

								<div class="reference">
									<div ng-class="reference.referenceClass" class="reference-title" data-ng-click="toggleref(this)"
									style="background:{{reference.color}}">
										<h3>{{reference.name}}</h3>

										<div class="search-{{reference.search}}">
											<input type="text"  class="form-control" placeholder="Pesquisa" data-ng-click="toggleref(this)" data-ng-model="searchText" />
										</div>
									</div>
									<div class="reference-content-container"  data-ng-class="reference.show">								
										<div class="reference-content" data-ng-repeat="sub in reference.sub">
											<div data-ng-click="toggle(sub)" data-ng-class="subClass(sub)" class="sub-li" data-ng-init="init(this)">
												
												<h3>
													{{ sub.desc }}
												</h3>
												<button data-ng-click="add(sub)">
													+
												</button>
												<div class="sub-info">
													<paper-checkbox  class="{{$id}}" data-ng-model="sub.studied" data-ng-click="toggle(sub);studied.update(this,$event);" onclick="return false;"></paper-checkbox>
													<label class="child-number">
														{{sub.sub.length}}
													</label>
												</div>
											</div>

											<div data-ng-hide="sub.hideSubs" class="sub-content">
												<span data-ng-include="template.children(sub)" />
											</div>
										</div>

										<div id="footer">
											Nenhum direito reservado. <span style="color:white">daymannovaes@gmail.com</span>
										</div>
									</div>
								</div>
							</div> <!-- END repeat references -->
						</div> <!-- END reference container -->
				</div>
			</div> <!-- END header -->
			<!-- <div id="footer">
				footer
			</div> -->
		</div>
	</div>
</div>

</body>
</html>