<ul data-ng-repeat="sub in sub.sub track by sub.id" data-ng-init="init(this)" class="sub-ul">
	<li data-ng-class="subClass(sub)" data-ng-click="toggle(sub)" tabindex="2" style="" swipe-left swipe-right>
		
		
		<span data-ng-include="template.edit(sub)">
		</span>	

		<div class="sub-info">
			<ul class="container-actions">
				<li>
					<ul class="actions"
						onmouseover="$info.show(this)"
						onmouseout="$info.hide(this)">
						<li title="Adicionar subtópico"><span data-ng-click="add(sub)" class="glyphicon glyphicon-plus"></span></li>
						<li title="Remover tópico"><span data-ng-click="remove(this.$parent.$parent.sub, $index)" class="glyphicon glyphicon-remove"></span></li>
						<li class="divider"><span class="divider-vertical"></span></li>
						<li title="Editar tópico"><span class="glyphicon glyphicon-pencil" data-ng-click="sub.edit = !sub.edit"></span></li>
						<li title="Mover tópico para cima"><span data-ng-click="upItem(this.$parent.$parent, $index)" class="glyphicon glyphicon-chevron-up"></span></li>
						<li title="Mover tópico para baixo"><span data-ng-click="downItem(this.$parent.$parent, $index)" class="glyphicon glyphicon-chevron-down"></span></li>
					</ul>
				</li>
				<li title="Mostrar/esconder botões">
					<span class="glyphicon glyphicon-chevron-left toggle-actions"
						data-ng-click="toggle(sub);"
						onclick="$info.toggle(this)"
						onmouseover="$info.show(this)"
						onmouseout="$info.hide(this)">
					</span>
				</li>
			</ul>
		
			<input class="notcheck" type="checkbox" data-ng-model="sub.studied" data-ng-click="toggle(sub)" data-ng-change="studied.update(this)"/>
			<label class="child-number" title="Sub-tópicos">
				{{sub.sub.length}}
			</label>
		</div>
	</li>

	<div data-ng-hide="sub.hideSubs" data-ng-include="template.children(sub)">
		
	</div>
</ul>