.wrapper {
	position: fixed;

	width: 100%;
	height: 100%;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#header {
	top: 0%;
	background-color: #102090;
}

#container {
	top: 90%;
	background-color: #4070F0;
}